.visit {
    height: 600px;
    background-color: #E7E8D1;
}
.visit-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:2rem;
}
.visit-text{
    text-shadow: 1px 1px #242424;
    color: #B85042;
    text-align: center;
    width: 45%;
    text-align: center;
}
.visit-text > h1 {
    font-size: 2.3rem;
}
.visit-image{
    position: relative;
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.visit-image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.visit-image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
@media screen and (max-width: 1024px) {
    .visit-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .visit-text{
        width: 100%;
    }
    .visit-text > h1{
        font-size: 1.5rem;
    }
    .visit-image{
        width: 90%;
        margin: 1.8rem 0;
    }
}